/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---- CSS ----*/
/*-- palette
#1d3557
#264653
#2a9d8f
#3eccbb
#a8dadc
#edf6f9
#efd593
#e9c46a
#f4a261
#e76f51
#E7370D
--*/

html {
    height: 100%;
    width: 100%;
    margin: 0;
    
    font-size: 16px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    line-height: 1.15;
}

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    position:absolute;
    
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 4rem;
}

h2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;

    margin: 1.25rem;
    
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #264653;
}

header {
    flex: 0 0 100px;
    align-content: space-around;

    padding: 1.25rem;

    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    color: #1d3557;

    background-color: #a8dadc;
}

main {
    flex: 1 1 auto;
    background-color: #edf6f9;
}

footer {
    flex: 1 1 6rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;

    padding: 1.25rem;

    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    font-size: 1.25rem;
    color: #264653;

    background-color: #a8dadc;
}

#periodic-table-container {
    display: grid;
    grid: 1fr 9fr 0.5fr / 1fr 18fr 1fr;
    position: relative;
}

#periodic-table-of-elements {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    gap: 6px;
    display: grid;
    grid: repeat(9, 1fr) / repeat(18, 1fr);

    font-size: 1rem;
}

#empty-placeholder-1 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

#element-details {
    grid-row: 1 / 4;
    grid-column: 3 / 13;

    display: grid;
    grid: 1fr 6fr 1fr/ 1fr 1fr 12px 4fr;
    gap: 6px;

    padding: 0.75rem;

    font-size: 1rem;

    border: solid 1px #dedede;
    border-radius: 6px;
}

#element-details-tile {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    box-sizing: border-box;

    font-size: 1.25rem;
    font-weight: 300;

    border: solid 2px #2a9d8f;
    border-radius: 6px;
    background-color: #edf6f9;
}

#element-details-key {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    justify-self: center;
    align-self: center;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;    
    
    width: 100%;
    height: 100%;

    font-size: 1.25em;
    font-weight: 300;

    background-color: #edf6f9;
}

#element-details-properties {
    grid-row: 1 / 4;
    grid-column: 4 / 6;

    display: grid;
    grid: repeat(6, 1fr) / auto-flow 1.5fr 1fr;
    align-items: center;
}

#empty-placeholder-2 {
    grid-row: 1 / 2;
    grid-column: 13 / 18;
}

#lanth-placeholder-1 {
    grid-row: 6 / 7;
    grid-column: 3 / 4;

    background-color: #2a9d8f;
    color: #edf6f9;
}

#act-placeholder-1 {
    grid-row: 7 / 8;
    grid-column: 3 / 4;

    background-color: #264653;
    color: #edf6f9;
}

#empty-placeholder-3 {
    grid-row: 8 / 10;
    grid-column: 1 / 3;
}

#lanth-placeholder-2 {
    grid-row: 8 / 9;
    grid-column: 3 / 4;
}

#act-placeholder-2 {
    grid-row: 9 / 10;
    grid-column: 3 / 4;
}

.element-tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;

    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
    border: solid 1px #dedede;
    border-radius: 6px;
    background-color: #e9c46a;

    cursor: pointer;
}

.element-tile:hover {
    z-index: 1;

    width: 110%;
    height: 110%;

    font-weight: 300;

    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.element-tile:active {
    border: solid 1px #2a9d8f;
}

.atomic-number, .atomic-mass {
    font-size: 0.75rem;
}

.element-symbol{
    font-weight: 600;
    font-size: 1.5rem;
}

.dtl-element-symbol {
    font-weight: 600;
    font-size: 2em;
}

.detail-property {
    font-weight: 600;
}

.detail-property-text {
    display: block;
    font-weight: 400;
}

.lanth-act-placeholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 0.75em;
}
